p{
    margin-left: 20px;
    text-align: center;
    margin-right: 20px;
}

.yellow{
    height: 20px;
    width: 50px;
    position: fixed;
    background-color: yellow;
    top: 50px;
}